meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Revisión de ítems e indicadores de evaluació
meta(meta name="description" content="El presente contenido permite al aprendiz identificar los criterios establecidos para la revisión metodológica y técnica de los ítems e indicadores construidos, cuyo propósito es garantizar que la estructura interna de los componentes normativos (conocimientos esenciales y criterios de desempeño) puedan entrelazarse, para permitir interpretar y comprender el ítem e indicador, de acuerdo a los fines propuestos.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")