.container
    .header-ecored
        h1 1. Revisión
    .jumbotron.bg-white
        p La revisión de los ítems e indicadores es el cumplimiento de los requisitos especificados en la planeación para asegurar la validez de los resultados. Esta fase comprende, la revisión sistemática y objetiva de los productos construidos antes de la entrega al banco nacional de instrumentos de evaluación, en relación con su conformidad disciplinar, técnica, metodológica y normativa.
       
        .sub-line#11
            h2.mt-5 1.1 Revisión técnica de ítems e indicadores
        .row.justify-content-center.align-items-center
            .col-12.col-md-4
                img.max.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid 
            .col-12.col-md-8 
                p La revisión técnica debe ser realizada por expertos técnicos del área productiva a evaluar, diferentes al evaluador de competencia laboral y/o experto en la función productiva que participaron en la construcción de instrumentos. Cuyo propósito es garantizar la veracidad de los ítems
                
        .fase1-line.mt-5
            h3 Revisión técnica de ítems

        p Con esta revisión se busca comparar los componentes normativos del referente de evaluación con las condiciones técnicas de los ítems asociados con los criterios establecidos. 

        img.max.img-a(src="assets/images/pages/ilustraciones/img4.png") 
        p.mt-5 A continuación, se explicará el diligenciamiento del formato para la verificación técnica de ítems. 

        .row.mt-5
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/36F4nXHgV9k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .fase1-line.mt-5
            h3 Revisión técnica de indicadores  
        p Con esta revisión se busca comparar los componentes normativos del estándar de competencia laboral y las condiciones técnicas de los indicadores asociadas con:                           

        img.max.img-a(src="assets/images/pages/ilustraciones/img5.png") 

        p.mt-5 Por tanto, podrá reconocer su proceso a través del siguiente video.  

        .row.mt-5
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ArzqWEcnmGk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  

        .sub-line#12
            h2.mt-5 1.2 Revisión metodológica de los ítems e indicadores
        p La revisión metodológica de ítems e indicadores debe ser realizada por un conocedor de esta, garantizando que se cumpla con los criterios establecidos.                                      

        .fase1-line.mt-5
            h3 Revisión metodológica de ítems  
        p Busca cotejar los componentes normativos del estándar de competencia laboral y las condiciones operativas y procedimentales de los ítems asociados con los criterios establecidos. 
        p Estos criterios para la revisión metodológica de ítems están divididos en tres partes: enunciado, opciones de respuesta y justificación, estás a su vez, tienen cada una sus criterios para la revisión. 

        img.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid 

        .row.mt-5
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/nbdt6Yj_bNw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .fase1-line.mt-5
            h3 Revisión metodológica de indicadores                               
        p La revisión metodológica de indicadores debe ser realizada por un conocedor de la metodología de construcción de instrumentos. Con esta se busca cotejar los componentes normativos del estándar de competencia laboral a través de los criterios establecidos para la revisión así: 

        img.max.img-a(src="assets/images/pages/ilustraciones/img3.png").img-fluid       
        p.mt-5 A continuación, se explicará el diligenciamiento del formato para la verificación metodológica de ítems. 
        .row.mt-5
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/nbdt6Yj_bNw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')         