.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Categoría de pensamiento:
            | son las habilidades del pensamiento requeridas al candidato a través de los reactivos en una prueba de conocimiento.
        
        p
            strong.mr-2 Claridad:
            | el ítem e indicador son claros y entendibles por sí mismos.
        
        p
            strong.mr-2 Clave de respuesta:
            | alternativa que satisface el reactivo. 
        p 
            strong.mr-2 Constructo:
            | conocimiento esencial.
        p 
            strong.mr-2 Contexto:
            | hace referencia al escenario laboral, elementos y condiciones variables donde se plantea una acción. ¿Dónde?. 

        p 
            strong.mr-2 Criterios de Desempeño Específicos (COE):
            | descripción de los requisitos de calidad para el resultado obtenido en el desempeño laboral, Son la base para que un Evaluador de Competencias Laborales juzgue si un trabajador es, o aún no es competente, permiten precisar acerca de lo que se hizo y la calidad con que fue realizado.

        p 
            strong.mr-2 Criterios de desempeño generales. (CDG):
            | son los requisitos de calidad relacionados con aspectos de gestión del riesgo, seguridad y salud en el trabajo, gestión de información, gestión ambiental, u otros que apliquen a la función en su totalidad.    

        p 
            strong.mr-2 Cuestionario:
            | es un instrumento de evaluación conformado por un conjunto intencionado y articulado de ítems que responden a los propósitos planteados en la estructura de la Norma de Competencia Laboral o Norma Sectorial de Competencia Laboral y cuya aplicación permite evaluar el conocimiento del candidato.

        p
            strong.mr-2 Enunciado:
            | Parte del ítem que contiene la información suficiente y necesaria con base al contenido específico a evaluar. 

        p 
            strong.mr-2 Estructura funcional de la ocupación (EFO):
            | conjunto de Normas Sectoriales de Competencia Laboral que permiten el logro del propósito de una ocupación. Está conformada por el resumen de EFO y las NSCL. En ella se describe lo que se hace en una ocupación, en qué tipo de organizaciones o sectores se desempeña el trabajador, el nivel de cualificación y las funciones laborales que se desarrollan en la misma. Corresponde a una ocupación e incluye las denominaciones o empleos y las funciones que se desempeñan en ella.

        p 
            strong.mr-2 Estructura gramatical:
            | el ítem e indicador responde a la estructura gramatical propuesta.

        p 
            strong.mr-2 Evaluación:
            | proceso que valora el cumplimiento de los requisitos de los referentes de evaluación por parte de un candidato.

        p 
            strong.mr-2 Evidencias de conocimiento:
            | se refiere a la aplicación de las teorías y principios de base científica, así como a las habilidades cognitivas en relación con la función.

        p 
            strong.mr-2 Evidencias de desempeño:
            | son acciones reales que se evidencian directamente en la ejecución de la función productiva por parte del candidato, y que permiten demostrar el cumplimiento de los parámetros de calidad establecidos en los criterios de desempeño definidos en el referente de evaluación. Se valora a través de un conjunto de indicadores de desempeño, expresados en una lista de chequeo (Ver GCC-F- 032 Lista de Chequeo de Evidencia de Desempeño/ Producto de evaluación y certificación de competencias laborales). Estos se presentan y valoran en el sitio real de trabajo o en el ambiente definido por el SENA. (Ver GCC–I–003 Instructivo para la recolección de evidencias de conocimiento, desempeño y producto de evaluación de competencias laborales).

        p 
            strong.mr-2 Evidencias de producto:
            | corresponde al resultado del desempeño observado y valorado o descrito en el referente de evaluación. Se valora a través de un conjunto de indicadores, expresados en una lista de chequeo (ver GCC – F- 032 Lista de Chequeo de evidencia de desempeño/ producto de evaluación y certificación de competencias laborales).
            <br> Los productos presentados por el candidato (en cualquier medio) permanecerán en el expediente y serán revisados por el Verificador de ECCL (sin emitir ningún juicio) y una vez finalizado el proceso, dichas evidencias son regresadas a los candidatos. (Ver GCC-I-003 Instructivo para la recolección de evidencias de conocimiento, desempeño y producto de evaluación de competencias laborales).


        p 
            strong.mr-2 Evidencias requeridas:
            | aspectos que permiten a una persona demostrar que es competente en el desempeño de una función. Corresponde a pruebas definidas y manifiestas del desempeño y conocimiento que determina la competencia laboral de una persona.

        p 
            strong.mr-2 Homogeneidad:
            | igualdad de caracteres en las opciones de respuesta.     

        p 
            strong.mr-2 Indicador de evaluación del desempeño:
            | describe las habilidades y destrezas que debe realizar el candidato de acuerdo con las evidencias de desempeño exigidas por la norma de competencia laboral.  

        p 
            strong.mr-2 Indicador de evaluación del producto:
            | son atributos o características esenciales del producto de una función productiva, hacen referencia a los aspectos claves de los productos en términos de las especificaciones de forma, contenido, diseño, funcionalidad y ofrecen indicios de la calidad del trabajo realizado. 

        p 
            strong.mr-2 Instrucción puntual:
            | el reactivo responde al estímulo cognitivo con detalle y precisión.

        p 
            strong.mr-2 Instrumentos de evaluación:
            | herramientas de evaluación y medición construidas bajo metodologías definidas por el SENA que permiten la recolección y valoración de evidencias determinadas en un estándar de competencia laboral.

        p 
            strong.mr-2 Opciones de respuesta:
            | parte concluyente del ítem caracterizado a través de frases, datos o informaciones, lógicas y verosímil, que pueden ser escogidas como respuesta a la pregunta.  

        p 
            strong.mr-2 Pertinencia:
            | los contextos, situaciones y contenidos del ítem confirman los fundamentos técnicos de la función productiva.  

        p 
            strong.mr-2 Relevancia:
            | el indicador es pertinente porque atiende la evidencia requerida en la norma.

        p 
            strong.mr-2 Solidez técnica:
            | los contenidos, conceptos, significados y definiciones del ítem están construidos conforme a referentes teóricos de la norma.

        p 
            strong.mr-2 Unidimensionalidad:
            | el indicador verifica un solo atributo o aspecto como resultado de un desempeño observable. 

        p 
            strong.mr-2 Validez:
            | el indicador atiende las evidencias requeridas especificadas en la norma.                         
