.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Formato norma sectorial de competencia laboral (operador de motoniveladora según manuales)
                    td PDF
                    td 
                        a(href="media/documentos/280301223_Operar_Motoniveladora.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Formato norma sectorial de competencia laboral (preparar operación de costura según manuales de operación y parámetros de calidad)

                    td PDF
                    td 
                        a(href="media/documentos/NSCL_290601233_Preparar_operacion_costura.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                                      