include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
    
        +referenciaItem("Servicio Nacional de Aprendizaje. (2018). Guía para la normalización de competencias laborales.", " ")

        +referenciaItem("Servicio Nacional de Aprendizaje. (2019, noviembre). Guía para evaluar y certificar competencias laborales.", " ")

        +referenciaItem("Servicio Nacional de Aprendizaje. (2019). Instructivo para la planeación y construcción de ítems e indicadores de evaluación de competencia laboral.", " ")

        +referenciaItem("Servicio Nacional de Aprendizaje. (2019). Reglamento de ética del proceso gestión de certificación de competencias laborales.", " ")